@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

header{
	text-align: center;
	color: green;
}

section{
	width:1100px;
	height:400px;
	margin: 5em auto;

}

svg{
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
}